body {
    background-color: #f4f6f9;
}

/* 用户登录页的选项卡专属样式 */
.nav-tabs { 
    margin-bottom: 15px; 
    border-bottom: none; 
}
.nav-tabs>li>a { 
    color: #555; 
    border-radius: 4px; 
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover { 
    background-color: #337ab7; 
    color: white; 
    border: none; 
}
